[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClassificationEnsembles"]
	path = ClassificationEnsembles
	url = https://github.com/infinitecuriosity/classificationensembles
[submodule "ForecastingEnsembles"]
	path = ForecastingEnsembles
	url = https://github.com/infinitecuriosity/forecastingensembles
[submodule "LogisticEnsembles"]
	path = LogisticEnsembles
	url = https://github.com/infinitecuriosity/logisticensembles
[submodule "NumericEnsembles"]
	path = NumericEnsembles
	url = https://github.com/infinitecuriosity/numericensembles
